<ng-marquee class="speed">
   <img src='../../assets/volunteer/1-abb.google_cardboard_WEB.jpg'>
   <img src='../../assets/volunteer/1513234823_05.jpg'>
   <img src='../../assets/volunteer/Computers2.jpg'>
   <img src='../../assets/volunteer/DSC_3207.jpg'>
   <img src='../../assets/volunteer/education-2x-818cf01d86796d145c26f9be73b34f29.jpg'>
   <img src='../../assets/volunteer/jpeg.jpg'>
   <img src='../../assets/volunteer/Nasscom-Digital-Literacy-Centre-Hyderabad-1.jpg'>
   <img src='../../assets/volunteer/project-srikakulam-1024x500.jpg'>
   <img src='../../assets/volunteer/saras_aves.png'>
   <img src='../../assets/volunteer/vr-759.jpg'>
</ng-marquee>

<h1 align="center">Our Success Stories</h1>
<perfect-scrollbar style="padding-left: 50px ; padding-right: 30px; max-width: 1400px; max-height: 400px;">
<div class="row"><br><br></div>
<div class="card text-white bg-dark" style="max-width: 100rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Dark card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</perfect-scrollbar>