<!-- <app-header></app-header>
About Page
 -->
<h1 align="center"><b>FAQS</b></h1>
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link btn-lg" type="button" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Who Volunteers ???
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                The volunteers can be from all over the world.
                There is no any age limit to join the volunteer program.
                Participants main characteristic is the willingness to help.
                Our volunteers give their time and money to conserve and protect the environment,
                uplift and build positive communities, teach children, and promote health, education,
                and ecological awareness in India.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed btn-lg" type="button" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    What will i be helping???
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                You will help our organization and the local community,
                who really need your help. Your assistance will benefit the local communities;
                we can give them many things by helping;
                the people and the community aided by our projects will positively benefit from your work.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed btn-lg" type="button" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    What is the scenario in India,presently??
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                India has about 11 million children living on the streets and 14 million children working as labours.
                Only 60% of children have access to education despite having a national policy on compulsory elementary
                education. The time to take collective as well as individual responsibility to remedy the current
                situation is here. Right now!
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed btn-lg" type="button" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    Why do you stress on education, when there are other equally pressing issues in the country?
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                Education alone has the power to liberate people from the vicious cycle of poverty - not only in terms
                of earning a livelihood but also in becoming aware of the rights and freedoms that a citizen is endowed
                with. Thus empowering individuals and making them self-sufficient.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed btn-lg" type="button" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    What is the source of funding for the organization??
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                Around 70-80% funding support of the organization comes from corporates; the rest comes from PSUs,
                individual donors and private institutions.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed btn-lg" type="button" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    How can an NGO apply for assistance ??
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                There is a user friendly application form available on our website that an NGO can fill. Apart from
                that we put notices in all our internal modes of communication like our website, mailers, etc. whenever
                there is a requirement for a partner in any particular geographical area under our various programmes.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed btn-lg" type="button" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    Who all are the target beneficiaries??
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                Children, their families and the communities are the target groups of Smile Foundation with children at
                the centre stage. The organization believes that a child?s education cannot be taken care of without
                taking care of the family, especially the mother, and the communities they belong to.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed btn-lg" type="button" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    How can one associate with the organization?
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                In our journey so far, we have received immense support from numerous individuals, many private and
                public sector companies, development agencies, educational institutions, public figures and the mass
                media. One can associate with us in any of these above mentioned ways. Please visit the contact us or
                get involved section of our website for more information on the possible ways of being involved in our
                journey.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed btn-lg" type="button" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
               What is the model of Swabhiman?
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                    The USP of Swabhiman is its innovative and highly effective approach named "4 S Model" which means:
                    Seeking Healthcare as a Behaviour
                    Support through Education
                    Support from Men through Male Involvement
                    Sustaining Change in the Community.
            </div>
        </div>
    </div>
</div>