<h3 align="center">Glimpse Of Success</h3>
<perfect-scrollbar style="border-spacing:1px solid black;border-radius: 25px; padding-left: 50px ; padding-right: 30px; max-width: 1400px; max-height: 450px;">
        
    <div class="row ">
        <div class="col-md-4 top-buffer" *ngFor="let item of arrImg">
            <div class="col-md-12">
                <img class="d-block w-100 img-rounded" height="200px" width="150px" src="https://edtechbackend.herokuapp.com/img/{{item.img_src}}"
                    alt="First slide">

            </div>
        </div>
    </div>
</perfect-scrollbar>
<hr style="background-color:black;width:20%;">

<h4 align="center">Our Sponsors :- </h4>
