<router-outlet></router-outlet>
<!-- <app-footer-page></app-footer-page>
<app-investor-investing-page></app-investor-investing-page> -->
<app-be-volunteer-page></app-be-volunteer-page>
<app-header></app-header>
<app-investor-investing-page></app-investor-investing-page>
<app-be-volunteer-page></app-be-volunteer-page>
<div id="map" #mapRef></div>
<div class="float-left" style="margin-top: 40px">
    <button class="btn-primary" (click)="nearMe()">Near me</button>
</div>
<div style="margin-top: 100px">
    <app-select-pos-map></app-select-pos-map>
</div>
<app-footer></app-footer>
