<router-outlet></router-outlet>
<!-- <app-footer-page></app-footer-page>
<app-investor-investing-page></app-investor-investing-page> -->
<app-be-volunteer-page></app-be-volunteer-page>
<app-header></app-header>
<app-investor-investing-page></app-investor-investing-page>
<app-be-volunteer-page></app-be-volunteer-page>
<app-nearby-map></app-nearby-map>
<div style="margin-top: 100px">
    <app-select-pos-map></app-select-pos-map>
</div>
<app-volunteer-history-page></app-volunteer-history-page>
<app-footer></app-footer>
